# Git
.git
.gitignore

# Python
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
coverage.xml
htmlcov

# Environment / secrets
.env
.env.*
!.env.example
!.env.prod.example

# IDEs
.idea
.vscode

# OS files
.DS_Store

# Local development artifacts
media
staticfiles
